html {
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    padding: 1em;
    color: #5c1572;
    margin-top: 0;
}

h1 {
    display: inline;
}

#thumbnail {
    display: block;
    margin: auto;
    border: 0px solid purple;
    box-shadow: rgba(116, 33, 185, 0.233);
}

#thumbnail:hover+#title {
    display: block;
}

#title {
    display: none;
    color: #ffffff;
    background-color: #a144a5;
    text-align: center;
    width: 130px;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

#content {
    display: none;
    color: #a144a5;
    width: 130px;
    padding: 10px;
    margin-top: -10px;
}

img:hover {
    opacity: 0.75;
}

img:hover+#content {
    opacity: 0.75;
    display: block;
}